# Folders
log/
venv/
.idea/

# Files
*.log
*.pyc
config/config.yaml
bot/cogs/_transfer.py
bot/cogs/transfer.py
_config.yaml
bot/cogs/_scratchwork.py
bot/cogs/scratchwork.py
config/roles.yaml
config/roster.yaml
voice.mp3
